In [4]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, classification_report , confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [3]:
pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 257.7/257.7 kB 3.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/Anushka/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/Anushka/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: scipy>=1.5.0 in /Users/Anushka/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/Anushka/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.24.3)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 7.2 MB/s eta 0:00:0000:01
Installing collected packages: joblib, imbalanced-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.12.0 joblib-1.3.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [9]:
df = df.drop("Unnamed: 0", axis = 1)

In [11]:
x =df.drop("Churn", axis= 1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
y =df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

### Train Test split

In [14]:
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.2)

### Decision Tree Clasifier

In [15]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [16]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [17]:
y_pred=model_dt.predict(x_test)
y_pred

array([1, 0, 0, ..., 0, 0, 1])

In [18]:

model_dt.score(x_test,y_test)

0.7938877043354655

In [19]:
print(classification_report(y_test, y_pred , labels = [0,1]))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86      1022
           1       0.64      0.57      0.60       385

    accuracy                           0.79      1407
   macro avg       0.74      0.72      0.73      1407
weighted avg       0.79      0.79      0.79      1407

#### smoteenn = upsampling +enn as the data is highly imbalanced and we can calculate accuracy accurately in an imbalanced dataset

In [20]:
sm = SMOTEENN()
x_replaced1, y_replaced1 = sm.fit_sample(x,y)

AttributeError: 'SMOTEENN' object has no attribute 'fit_sample'

In [22]:
from imblearn.over_sampling import SMOTE

In [23]:
oversample = SMOTE()
x_replaced1, y_replaced1 = oversample.fit_resample(x, y)

In [24]:
xr_train1, xr_test1, yr_train1, yr_test1 = train_test_split(x_replaced1, y_replaced1, test_size= 0.2)

In [25]:
model_dt_smote = DecisionTreeClassifier(criterion = "gini",random_state = 100, max_depth = 6, min_samples_leaf = 8)

In [26]:
model_dt_smote.fit(xr_train1, yr_train1)
yr_predict = model_dt_smote.predict(xr_test1)
model_score_r = model_dt_smote.score(xr_test1, yr_test1)
print(model_score_r)
print(metrics.classification_report(yr_test1, yr_predict))

0.818973862536302
              precision    recall  f1-score   support

           0       0.83      0.79      0.81      1024
           1       0.81      0.84      0.82      1042

    accuracy                           0.82      2066
   macro avg       0.82      0.82      0.82      2066
weighted avg       0.82      0.82      0.82      2066

### Random Forest Classifier

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [29]:
model_rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [30]:
y_pred = model_rf.predict(x_test)

In [31]:
model_rf.score(x_test,y_test)

0.7974413646055437

In [34]:
print(classification_report(y_test, y_pred, labels =[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.92      0.87      1022
           1       0.70      0.46      0.55       385

    accuracy                           0.80      1407
   macro avg       0.76      0.69      0.71      1407
weighted avg       0.79      0.80      0.78      1407

In [37]:
sm = SMOTE()

In [39]:
x_resampled2, y_resampled2 = sm.fit_resample(x,y)

In [40]:
xr_train2, xr_test2, yr_train2 , yr_test2 = train_test_split(x_resampled2, y_resampled2,test_size = 0.2)

In [41]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [42]:
model_rf_smote.fit(xr_train2, yr_train2)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [43]:
yr_predict2 = model_rf_smote.predict(xr_test2)

In [44]:
model_rf_smote.score(xr_test2 ,yr_test2)

0.8102613746369797

In [45]:
print(metrics.classification_report(yr_test2, yr_predict2))

              precision    recall  f1-score   support

           0       0.85      0.75      0.80      1031
           1       0.78      0.87      0.82      1035

    accuracy                           0.81      2066
   macro avg       0.81      0.81      0.81      2066
weighted avg       0.81      0.81      0.81      2066

In [47]:
print(metrics.confusion_matrix(yr_test2, yr_predict2))

[[778 253]
 [139 896]]

### Applying PCA

In [48]:
from sklearn.decomposition import PCA
pca = PCA(0.9)
xr_train_pca = pca.fit_transform(xr_train1)
xr_test_pca = pca.transform(xr_test1)
explained_variance = pca.explained_variance_ratio_

In [49]:
model=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [51]:
model.fit(xr_train_pca,yr_train2)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [52]:
yr_predict_pca = model.predict(xr_test_pca)

In [53]:

model_score_r_pca = model.score(xr_test_pca, yr_test1)

In [54]:
print(model_score_r_pca)
print(metrics.classification_report(yr_test1, yr_predict_pca))

0.4530493707647628
              precision    recall  f1-score   support

           0       0.44      0.36      0.40      1024
           1       0.46      0.54      0.50      1042

    accuracy                           0.45      2066
   macro avg       0.45      0.45      0.45      2066
weighted avg       0.45      0.45      0.45      2066

### Pickle the model

In [55]:
import pickle

In [56]:
filename = "model.sav"

In [57]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [59]:
load_model = pickle.load(open(filename, 'rb'))

In [60]:
load_model.score(xr_test1, yr_test1)

0.818973862536302